<!doctype html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Canell / Watkins / INFRA</title>

    <link href="./libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./libs/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="./dist/css/back.css">

</head>

<body>

    <div class="container-fluid">

        {{{body}}}

    </div>

    <script src="./libs/handlebars/handlebars.runtime.min.js"></script>
    <script src="./libs/jquery/dist/jquery.min.js"></script>
    <script src="./libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./libs/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="./libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="./dist/js/handlebars/templates.js"></script>
    <script src="./dist/js/canellwatkins-back.min.js"></script>

</body>

</html>
