<!doctype html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Canell / Watkins</title>

    <meta name="description" content="Nina Canell & Robin Watkins" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Canell / Watkins">
    <meta name="twitter:description" content="Nina Canell & Robin Watkins">

    <meta property="og:title" content="Canell / Watkins" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.canellwatkins.org/" />
    <meta property="og:image" content="http://canellwatkins.org" />
    <meta property="og:description" content="Nina Canell & Robin Watkins" />
    <meta property="og:site_name" content="Canell / Watkins" /> 
    {{#if night}}
        <link rel="stylesheet" href="dist/css/front-night.css"> 
    {{else}}
        <link rel="stylesheet" href="dist/css/front-day.css">
    {{/if}}

</head>

<body>

    {{{body}}}


</body>

</html>