{{#each objects}}

  <div class="page">
    
    <div class="one-image">
      
      <img src="{{this.image.url}}">
      <strong>{{this.title}}</strong>
      
    </div>
        
  </div>

{{/each}}