<div class="col-md-12 hidden-sm hidden-xs margin_bottom">
  <a href="../infra" class="btn btn-primary btn-sm pull-left">Infra</a>
</div>

<div id="spinner">
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>


<div class="col-md-6 col-sm-6 col-xs-6">

  <label>Collections</label>

  <div id="collection-container"></div>

</div>

<div class="col-md-6 col-sm-6 col-xs-6">

  <label>Create new collection</label>

  <div id="collection-form-container"></div>

</div>