<div class="col-md-12 hidden-sm hidden-xs margin_bottom">
  {{!-- ***** LOGOUT BUTTON ***** --}}
  <a href="logout" class="btn btn-danger btn-sm pull-right">Logout</a>
</div>

<div id="overlay"></div>

{{!-- ***** COLUMN ONE ***** --}}
{{!-- ***** COLUMN ONE ***** --}}
{{!-- ***** COLUMN ONE ***** --}}
{{!-- ***** COLUMN ONE ***** --}}

<div class="col-md-6 col-sm-6 col-xs-6">

  {{!-- ***** COL1: TOP LEVEL MENU ***** --}}

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      
      {{!-- ***** LIST CONTENT BUTTON ***** --}}
      
      <li role="presentation" class="active">
        <a href="#content_list" aria-controls="content_list" role="tab" data-toggle="tab">
          <i class="fa fa-list"></i> List
        </a>
      </li>
      
      {{!-- ***** ADD IMAGE ***** --}}
      
      <li role="presentation">
        <a href="#add_image" aria-controls="add_image" role="tab" data-toggle="tab">
          <i class="fa fa-plus"></i> Add image
        </a>
      </li>   
      
      {{!-- ***** ADD AUDIO ***** --}}
      
      <li role="presentation">
        <a href="#add_audio" aria-controls="add_image" role="tab" data-toggle="tab">
          <i class="fa fa-plus"></i> Add audio
        </a>
      </li>      
      
      {{!-- *****ADD VIDEO ***** --}}
      
      <li role="presentation">
        <a href="#add_video" aria-controls="add_image" role="tab" data-toggle="tab">
          <i class="fa fa-plus"></i> Add video
        </a>
      </li>
      
    </ul>
  </div>

  <div class="tab-content">

    {{!-- ***** COL1: LIST CONTENT ***** --}}

    <div role="tabpanel" class="tab-pane fade in active" id="content_list">
      <div id="content-container"></div>
    </div>


    {{!-- ***** COL1: ADD IMAGE FORM ***** --}}

    <div role="tabpanel" class="tab-pane fade" id="add_image">

      <div class="spinner">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>

      <div id="image-form-container"></div>

    </div>   
    
    {{!-- ***** COL1: ADD AUDIO FORM ***** --}}

    <div role="tabpanel" class="tab-pane fade" id="add_audio">

      <div class="spinner">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>

      <div id="audio-form-container"></div>

    </div>    
    
    
    {{!-- ***** COL1: ADD VIDEO FORM ***** --}}

    <div role="tabpanel" class="tab-pane fade" id="add_video">

      <div class="spinner">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>

      <div id="video-form-container"></div>

    </div>

  </div>

</div>

{{!-- ***** COLUMN TWO ***** --}}
{{!-- ***** COLUMN TWO ***** --}}
{{!-- ***** COLUMN TWO ***** --}}
{{!-- ***** COLUMN TWO ***** --}}

<div class="col-md-3 col-sm-3 col-xs-3">

  {{!-- ***** COL2: TOP LEVEL MENU ***** --}}

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      
      {{!-- ***** LIST EXHIBITIONS ***** --}}
      
      <li role="presentation" class="active">
        <a href="#exhibition_list" aria-controls="exhibition_list" role="tab" data-toggle="tab">
          <i class="fa fa-list"></i> List
        </a>
      </li>
      
      {{!-- ***** ADD EXHIBTION ***** --}}

      <li role="presentation">
        <a href="#add_exhibition" aria-controls="add_exhibition" role="tab" data-toggle="tab">
          <i class="fa fa-plus"></i> Add exhibition
        </a>
      </li>
      
    </ul>
  </div>

  <div class="tab-content">

    {{!-- ***** COL2: LIST EXHIBITIONS ***** --}}

    <div role="tabpanel" class="tab-pane fade in active" id="exhibition_list">
      <div id="exhibition-container"></div>
    </div>

    {{!-- ***** COL2: ADD EXHIBITION FORM ***** --}}

    <div role="tabpanel" class="tab-pane fade" id="add_exhibition">

      <div class="spinner">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>

      <div id="exhibition-form-container"></div>

    </div>

  </div>

</div>

{{!-- ***** COLUMN THREE ***** --}}
{{!-- ***** COLUMN THREE ***** --}}
{{!-- ***** COLUMN THREE ***** --}}
{{!-- ***** COLUMN THREE ***** --}}

<div class="col-md-3 col-sm-3 col-xs-3">

  {{!-- ***** COL3: TOP LEVEL MENU ***** --}}

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      
      {{!-- ***** COL3: LIST PUBLCIATION/TEXT BUTTON ***** --}}
      <li role="presentation" class="active">
        <a href="#publication_list" aria-controls="publication_list" role="tab" data-toggle="tab">
          <i class="fa fa-list"></i> List
        </a>
      </li>
      
      {{!-- ***** COL3: ADD PUBLCIATION BUTTON ***** --}}
      <li role="presentation">
        <a href="#add_publication" aria-controls="add_publication" role="tab" data-toggle="tab">
          <i class="fa fa-plus"></i> Add publication
        </a>
      </li>
      
      {{!-- ***** COL3: ADD TEXT BUTTON ***** --}}
      <li role="presentation">
        <a href="#add_text" aria-controls="add_text" role="tab" data-toggle="tab">
          <i class="fa fa-plus"></i> Add text
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">

    {{!-- ***** COL3: LIST PUBLICATIONS ***** --}}

    <div role="tabpanel" class="tab-pane fade in active" id="publication_list">
      <div id="publication-container"></div>
    </div>


    {{!-- ***** COL3: ADD FORM PUBLICATIONS ***** --}}

    <div role="tabpanel" class="tab-pane fade" id="add_publication">

      <div class="spinner">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>

      <div id="publication-form-container"></div>

    </div>
    
    {{!-- ***** COL1: ADD TEXT FORM ***** --}}

    <div role="tabpanel" class="tab-pane fade" id="add_text">

      <div class="spinner">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>

      <div id="text-form-container"></div>

    </div>
  
    
  </div>
</div>