<div class="col-md-6">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#content_list" aria-controls="content_list" role="tab" data-toggle="tab"><i class="fa fa-list"></i> List</a>
      </li>
      <li role="presentation"><a href="#add_image" aria-controls="add_image" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add image</a>
      </li>
      <li role="presentation"><a href="#add_text" aria-controls="add_text" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add text</a>
      </li>
      <li role="presentation"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab"><i class="fa fa-folder"></i> Make collection</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="content_list">XXXX</div>
    <div role="tabpanel" class="tab-pane fade" id="add_image">
      <h2>Image</h2>
      <form id="file-drop" action="/api/content/post/image" class="dropzone topForm" method="POST" enctype="multipart/form-data"></form>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="add_text">
      <h2>Text</h2>
      <form class="form-horizontal ajaxForm topForm" role="form" method="POST" enctype="multipart/form-data" action="/api/content/post/text">
        <textarea class="form-control" id="fieldText" name="text"></textarea>
        <button id="textSubmit" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="collections">collections</div>
  </div>

</div>

<div class="col-md-3">

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#exhibition_list" aria-controls="echibition_list" role="tab" data-toggle="tab"><i class="fa fa-list"></i> List</a>
      </li>
      <li role="presentation"><a href="#add_exhibition" aria-controls="add_exhibition" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add exhibition</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="exhibition_list">XXXX</div>
    <div role="tabpanel" class="tab-pane fade" id="add_exhibition">
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>Add exhibition</legend>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              <input id="title" name="title" type="text" placeholder="Title" class="input-xlarge">

            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
              <input id="location" name="location" type="text" placeholder="Location" class="input-xlarge">

            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="start_date">Start date</label>
            <div class="controls">
              <input id="start_date" name="start_date" type="text" placeholder="Start date" class="input-xlarge">

            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="end_date">End date</label>
            <div class="controls">
              <input id="end_date" name="end_date" type="text" placeholder="End date" class="input-xlarge">

            </div>
          </div>

          <!-- Button -->
          <div class="control-group">
            <label class="control-label" for=""></label>
            <div class="controls">
              <button id="" name="" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>

</div>

<div class="col-md-3">

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#exhibition_list" aria-controls="publication_list" role="tab" data-toggle="tab"><i class="fa fa-list"></i> List</a>
      </li>
      <li role="presentation"><a href="#add_publication" aria-controls="add_publication" role="tab" data-toggle="tab"><i class="fa fa-plus"></i> Add exhibition</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="publication_list">XXXX</div>
    <div role="tabpanel" class="tab-pane fade" id="add_publication">
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend><i class="fa fa-plus"></i> Add publication</legend>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              <input id="title" name="title" type="text" placeholder="Title" class="input-xlarge">

            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="publisher">Publisher</label>
            <div class="controls">
              <input id="publisher" name="publisher" type="text" placeholder="Publisher" class="input-xlarge">

            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="date">Date</label>
            <div class="controls">
              <input id="date" name="date" type="text" placeholder="Date" class="input-xlarge">

            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>