<a id="{{_id}}" class="list-group-item">
    <p><i class="fa fa-file-image-o"></i> <strong>{{title}}</strong>
    </p>
    <img src="{{image.thumb}}" class="collection-image not-selected">
    <a href="#" class="btn btn-default collection-select-button">Add to collection</a>
</a>
{{/if}} {{/each}}