<form class="collection-form" role="form" method="POST" enctype="multipart/form-data" action="/api/collection/">
  <fieldset>

    <div class="form-group">
      <label for="title">Title</label>
      <input id="main-title" name="title" type="text" placeholder="Title" class="input-sm form-control" required>
    </div>

    <div class="form-group">
      <button id="collectionSubmit" type="submit" class="btn btn-primary">Submit</button>
    </div>

    <ul name="selected-files" id="collection-content-container"></ul>

  </fieldset>
</form>