{{#each this}} 

  {{#if image}}

    <div id="{{_id}}" class="list-group-item set-height">
      <p><i class="fa fa-file-image-o"></i> <strong>{{title}}</strong></p>
      <img src="{{image.thumb}}" class="collection-image not-selected">
      <a href="" class="btn btn-default collection-select-button"><i class="fa fa-plus-square"></i></a>
    </div>

  {{/if}} 

{{/each}}