<form class="ajaxForm" enctype="multipart/form-data" action="/api/publication">
  <fieldset>

    <div class="form-group">
      <label for="title">Title</label>
      <div>
        <input id="title" name="title" type="text" placeholder="Title" class="input-sm form-control" required>

      </div>
    </div>

    <div class="form-group">
      <label for="publisher">Publisher</label>
      <div>
        <input id="publisher" name="publisher" type="text" placeholder="Publisher" class="input-sm form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="link">Link</label>
      <div>
        <input id="link" name="link" type="url" placeholder="Link" class="input-sm form-control">
      </div>
    </div>

    <label for="input-group">Publication date</label>
    <div class="input-group date">
      <input type="text" class="input-sm form-control" name="start_date" required>
    </div>

    <div class="form-group">
      <label for=""></label>
      <div>
        <button id="" name="" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
</form>