<form class="ajaxForm" enctype="multipart/form-data" action="/api/publication">
    <fieldset>

        <div class="form-group">
            <label for="title">Title</label>
            <div>
                <input id="title" name="title" type="text" class="input-sm form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="publisher">Publisher</label>
            <div>
                <input id="publisher" name="publisher" type="text" class="input-sm form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="link">Link</label>
            <div>
                <input id="link" name="link" type="url" class="input-sm form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="input-group">Publication year</label>
            <input type="text" class="input-sm form-control" name="start_date" required>
        </div>
      
        <div class="form-group">
            <label for="caption">Specs</label>
            <textarea id="caption" name="specs" type="text" class="input-xl form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="pic">Upload image</label>
            <input type="file" name="pic" accept="image/*">
        </div>
      
        <div class="form-group">
            <label for="text">Upload text</label>
            <input type="file" name="text">
        </div>

        <div class="form-group">
            <label for="sound">Upload sound</label>
            <input type="file" name="sound">
        </div>        

        <div class="form-group">
            <button id="" name="" class="btn btn-primary">Submit</button>
        </div>

    </fieldset>
</form>
