<form class="ajaxForm" enctype="multipart/form-data" action="/api/publication">
  <fieldset>

    <div class="form-group">
      <label for="title">Title</label>
      <div>
        <input id="title" name="title" type="text" placeholder="Title" class="input-sm form-control" required>

      </div>
    </div>

    <div class="form-group">
      <label for="publisher">Publisher</label>
      <div>
        <input id="publisher" name="publisher" type="text" placeholder="Publisher" class="input-sm form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="link">Link</label>
      <div>
        <input id="link" name="link" type="url" placeholder="Link" class="input-sm form-control">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input-group">Publication date</label>
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control" name="start_date" required>
      </div>
    </div>

    <div class="form-group">
      <label for="text">Upload image</label>
      <input type="file" class="input-sm form-control" name="pic" accept="image/*">
    </div>

    <div class="form-group">
      <label for="text">Upload sound</label>
      <input type="file" class="input-sm form-control" name="sound">
    </div>

    <div class="form-group">
        <button id="" name="" class="btn btn-primary">Submit</button>
    </div>

  </fieldset>
</form>