<form class="ajaxForm" enctype="multipart/form-data" action="/api/publication">
  <fieldset>

    <div class="form-group">
      <label for="title">Title</label>
      <div>
        <input id="title" name="title" type="text" class="input-sm form-control" required>
      </div>
    </div>

    <div class="form-group">
      <label for="publisher">Publisher</label>
      <div>
        <input id="publisher" name="publisher" type="text" class="input-sm form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="link">Link</label>
      <div>
        <input id="link" name="link" type="url" class="input-sm form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="input-group">Publication year</label>
      <input type="text" class="input-sm form-control" name="start_date" required>
    </div>

    <div class="form-group">
      <label for="caption">Specs</label>
      <textarea id="caption" name="specs" type="text" class="input-xl form-control"></textarea>
    </div>

    <!--IMAGES-->
    <!--IMAGES-->
    <!--IMAGES-->
    <!--IMAGES-->

    <div class='image-upload'>

      <label>Image</label>

      <div class="form-group upload">
        <input type="file" name="img1" accept="image/*">
        <input type="text" name="imgcap1" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img2" accept="image/*">
        <input type="text" name="imgcap2" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img3" accept="image/*">
        <input type="text" name="imgcap3" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img4" accept="image/*">
        <input type="text" name="imgcap4" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img5" accept="image/*">
        <input type="text" name="imgcap5" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img6" accept="image/*">
        <input type="text" name="imgcap6" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img7" accept="image/*">
        <input type="text" name="imgcap7" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img8" accept="image/*">
        <input type="text" name="imgcap8" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img9" accept="image/*">
        <input type="text" name="imgcap9" class="input-sm form-control" class="input-sm form-control">
        <div class='btn image btn-primary upload-reveal'>Add another image</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="img10" accept="image/*">
        <input type="text" name="imgcap10" class="input-sm form-control" class="input-sm form-control">
      </div>

    </div>

    <!--TEXT-->
    <!--TEXT-->
    <!--TEXT-->
    <!--TEXT-->
    <!--TEXT-->

    <div class='text-upload'>
      
      <label>Text</label>
      
      <div class="form-group">
        <input type="file" name="text1">
        <input type="text" name="textcap1" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
      
      <div class="form-group hidden">
        <input type="file" name="text2">
        <input type="text" name="textcap2" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
         
      <div class="form-group hidden">
        <input type="file" name="text3">
        <input type="text" name="textcap3" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
          
      <div class="form-group hidden">
        <input type="file" name="text4">
        <input type="text" name="textcap4" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
          
      <div class="form-group hidden">
        <input type="file" name="text5">
        <input type="text" name="textcap5" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
         
      <div class="form-group hidden">
        <input type="file" name="text6">
        <input type="text" name="textcap6" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
         
      <div class="form-group hidden">
        <input type="file" name="text7">
        <input type="text" name="textcap7" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
       
      <div class="form-group hidden">
        <input type="file" name="text8">
        <input type="text" name="textcap8" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
            
      <div class="form-group hidden">
        <input type="file" name="text9">
        <input type="text" name="textcap9" class="input-sm form-control">
        <div class='btn text btn-primary upload-reveal'>Add another text</div>
      </div>
            
      <div class="form-group hidden">
        <input type="file" name="text10">
        <input type="text" name="textcap10" class="input-sm form-control">
      </div>

    </div>

    <!--SOUND-->
    <!--SOUND-->
    <!--SOUND-->
    <!--SOUND-->
    <!--SOUND-->

    <div class='sound-upload'>

      <label>Sound</label>

      <div class="form-group">
        <input type="file" name="snd1">
        <input type="text" name="sndcap1" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd2">
        <input type="text" name="sndcap2" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd3">
        <input type="text" name="sndcap3" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd4">
        <input type="text" name="sndcap4" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd5">
        <input type="text" name="sndcap5" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd6">
        <input type="text" name="sndcap6" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd7">
        <input type="text" name="sndcap7" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd8">
        <input type="text" name="sndcap8" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="snd9">
        <input type="text" name="sndcap9" class="input-sm form-control">
        <div class='btn sound btn-primary upload-reveal'>Add another sound</div>
      </div>

      <div class="form-group hidden">
        <input type="file" name="sound10">
        <input type="text" name="sndcap10" class="input-sm form-control">
      </div>

    </div>

    <div class="form-group">
      <button id="" name="" class="btn btn-primary">Submit</button>
    </div>

  </fieldset>
</form>