//
//
//
//
// RESET
//
//
//
//
@import 'compass/reset';
* {
  box-sizing: border-box;
  user-select: none;
}

//
//
//
//
// GLOBAL BASICS
//
//
//
//
html,
body {
  color: $main-color;
  line-height: 2 * $baseline;
  overflow-x: hidden;
  background: $background;
  font-family: helvetica, arial, sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.menu-col {
  cursor: pointer;
  .title {
    max-width: 70%;
  }
}

p {
  line-height: 2 * $baseline;
}

//a:hover {
//  opacity: .25;
//}
img {
  max-width: 85%;
}

//.strong {
//    font-weight: bold;
//}
.container-fluid {
  display: inline-block;
  margin-bottom: 6 * $baseline;
  margin-left: $baseline;
  margin-top: 2%;
  padding: 0;
  width: 100%;
  //  transition: all .2s ease;
}

.margin_bottom {
  margin-bottom: 2 * $baseline;
  display: block;
}

//
//
//
//
// FRONTEND SPECIFIC
//
//
//
//
a.default:hover::after {
  display: inline;
  content: "  (link)";
}

a[href^="mailto"]:hover::after {
  display: inline;
  content: "  (mail)";
}

a:hover article .external::after {
  display: inline;
  content: "  (link)";
}

a:hover article .video::after {
  display: inline;
  content: "  (video)";
}

a:hover article .image::after {
  display: inline;
  content: "  (image)";
}

a:hover article .audio::after {
  display: inline;
  content: "  (audio)";
}

a.image:hover::after {
  display: inline;
  content: "  (image)";
}

a.text:hover::after {
  display: inline;
  content: "  (text)";
}

a.geohash:hover::after {
  display: inline;
  content: "  (geohash)";
}

a.up:hover::after {
  display: inline;
  content: "  (top)";
}

a:hover article .publication::after {
  display: inline;
  content: "  (publication)";
}

div.cable:hover::after {
  display: inline;
  content: "  (cable)";
}

a.geohash {
  display: block;
}

article {
  cursor: inherit;
  display: inline-block;
}

.audio-control {
  display: block;
  margin-top: 2 * $baseline;
  cursor: pointer;
  width: 100%;
}

.play-icon,
.stop-icon {
  width: $baseline;
}

.audio-control.play .play-icon {
  display: inline-block;
}

.audio-control.play .stop-icon {
  display: none;
}

.audio-control.pause .play-icon {
  display: none;
}

.audio-control.pause .stop-icon {
  display: inline-block;
}

audio {
  display: none;
}

.audio-caption {
  margin-top: 2 * $baseline;
}

//.title {
//  max-width: 20em;
//}
.menu-bar {
  position: fixed;
  top: 0;
  padding-left: $baseline;
  margin-left: 0;
  left: 0;
  width: calc(100% + 8px);
  color: $main-color;
  z-index: 999;
  height: 2 * $baseline;
}

.space {
  line-height: 2 * $baseline;
  margin-bottom: $baseline;
  margin-top: $baseline;
}

.ping_container {
  max-width: 75%;
}

.content-columns {
  display: none;
  padding-right: 40px;
}

.thumb-container {
  display: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-bottom: 2 * $baseline;
}

.fluid {
  position: fixed;
  z-index: 999;
  display: none;
}

.static {
  position: static;
}

.opaque {
  background: $main-color;
  color: $background;
  pointer-events: auto !important;
  cursor: pointer;
}

.opaque-alt {
  background: blue;
  color: $background;
  pointer-events: auto !important;
  cursor: pointer;
}

.clicked {
  img {
    filter: grayscale(100%);
  }
}

.thumbnail {
  cursor: pointer;
}

.stop-icon {
  display: none;
}

.link-container {
  margin-top: 2 * $baseline;
}

// Lightbox 
#overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  display: none;
  pointer-events: none;
  img,
  video {
    max-width: 92%;
    max-height: 82%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: visible;
    cursor: pointer;
    background-size: contain;
  }
  iframe {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: visible;
    zindex: 10000;
  }
}

.caption-container {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: $baseline;
  left: 0;
}

#counterOverlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  video {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: visible;
    cursor: pointer;
    background-size: contain;
    zindex: 10000;
  }
}

.blurred {
  filter: blur(20px);
  opacity: .25;
  transition: all 30s ease;
}

#tracestart-container {
  position: absolute;
  text-align: left;
  display: block;
  top: 0;
  left: 1 * $baseline;
}

.here {
  width: 100%;
  height: 100%;
}

.there {
  width: 0%;
  height: 0%;
}

// Extended columns
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
  margin: 0;
}

//
//
//
//
// BACKEND SPECIFIC
//
//
//
//
form,
.list-group {
  margin-top: 2 * $baseline;
}

.form-group {
  margin-bottom: 2 * $baseline;
}

.editContainer {
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid $dark-gray;
  display: none;
  background: $light-gray;
}

.error {
  color: $alert;
}

.spinner {
  display: none;
}

.selected {
  background-color: $highlight;
}

.page {
  height: 800px;
  height: 100vh;
  width: 100%;
  position: relative;
}

label {
  font-weight: bold !important;
  text-transform: uppercase;
}

audio {
  width: 100% !important;
}

.mobile-title {
  display: none;
}

//
//
//
//
// COLLECTION PAGE
//
//
//
//
.one-image {
  display: block;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

//
//
//
//
// MEDIA QUERIES
//
//
//
//
@media (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
  .mobile-half {
    width: 50%;
  }
  .mobile-40 {
    width: 40%;
  }
  .mobile-60 {
    width: 60%;
    padding-right: $baseline;
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-title {
    display: block !important;
  }
  .menu-bar {
    position: absolute;
  }
  body {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

//
//
//
//
// PRINT
//
//
//
@media all {}

.page {
  page-break-after: always;
}