//
//
//
//
// RESET
//
//
//
//
@import 'compass/reset';
* {
  -webkit-touch-callout: none;
  user-select: none;
  box-sizing: border-box;
}

//
//
//
//
// GLOBAL BASICS
//
//
//
//
html {
  color: $main-color;
  font-size: 11px;
  line-height: 2 * $baseline;
}

body {
  background: $background;
  font-family: helvetica, arial, sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  max-width: 95%;
}

strong {
  font-weight: bold;
}

.container-fluid {
  margin-bottom: 6 * $baseline;
  margin-left: 1 * $baseline;
  margin-top: 1 * $baseline;
  width: 100%;
  padding: 0;
  display: inline-block;
}

.margin_bottom {
  margin-bottom: 2 * $baseline;
}

//
//
//
//
// FRONTEND SPECIFIC
//
//
//
//
article {
  cursor: inherit;
}

a:hover > .char {
  color: red;
}

.audio-control {
  display: block;
  margin-top: 2 * $baseline;
  margin-bottom: 2 * $baseline;
  cursor: pointer;
}

//.audio-play:hover {
////  visibility: hidden;
//  text-decoration: underline;
//}


.space {
  line-height: 2 * $baseline;
  margin-bottom: $baseline;
  margin-top: $baseline;
}

.ping_container {
  max-width: 75%;
}

.content-columns {
  display: none;
  padding-right: 20px;
}

.thumb-container {
  display: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.clicked {
  img {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

.thumbnail {
  height: 16 * $baseline;
  cursor: pointer;
}

// Lightbox 
#overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  display: none;
  pointer-events: none;
  img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: visible;
    cursor: pointer;
  }
}

#counterOverlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  background-size: cover;
  background-position: center;
}


#tracestart-container {
  position: absolute;
  text-align: left;
  display: block;
  top: 1 * $baseline;
  left: 1 * $baseline;
}

#startUpOverlay {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  z-index: 10000;
  background: $main-color;
  pointer-events: none;
  transition-property: width, height;
  transition-timing-function: cubic-bezier(.445, .05, .55, .95)
}

.here {
  width: 100%;
  height: 100%;
}

.there {
  width: 0%;
  height: 0%;
}

// Extended columns
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

//
//
//
//
// BACKEND SPECIFIC
//
//
//
//
form,
.list-group {
  margin-top: 2 * $baseline;
}

.form-group {
  margin-bottom: 2 * $baseline;
}

.editContainer {
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid $dark-gray;
  display: none;
  background: $light-gray;
}

.error {
  color: $alert;
}

.spinner {
  display: none;
}

.selected {
  background-color: $highlight;
}

.page {
  height: 800px;
  height: 100vh;
  width: 100%;
  position: relative;
}

audio {
  width: 100% !important;
}

//
//
//
//
// COLLECTION PAGE
//
//
//
//
.one-image {
  display: block;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

//
//
//
//
// MEDIA QUERIES
//
//
//
//
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

//
//
//
//
// PRINT
//
//
//
@media all {}

.page {
  page-break-after: always;
}