//
//
//
//
// RESET
//
//
//
//
@import 'compass/reset';
//
//
//
//
// VARIABLES
//
//
//
//
$background: #fff;
$main-color: #000;
$highlight: #00f;
$alert: #f00;
$dark-gray: #ddd;
$light-gray: lighten($dark-gray, 40);
$baseline: 10px;
//
//
//
//
// GLOBAL BASICS
//
//
//
//
html {
  color: $main-color;
  font-size: 11px;
  line-height: 2 * $baseline;
  margin: 0;
  padding: 0;
}
body {
  background: $background;
  font-family: helvetica, arial, sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}
img {
  max-width: 95%;
}
strong {
  font-weight: bold;
}
label {
  font-weight: bold;
  margin-bottom: $baseline;
}
h1 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 2 * $baseline;
}
.btn-primary,
.btn-danger,
.btn-primary:active,
.btn-danger:active {
  background: none;
  border-radius: 0;
  border-color: #000;
  font-size: 12px;
  color: #000;
}
.btn-primary:hover,
.btn-danger:hover {
  background: #000;
  color: #fff;
}
.container-fluid {
  margin-bottom: 6 * $baseline;
  margin-left: 1 * $baseline;
  margin-top: 1 * $baseline;
  width: 100%;
  padding: 0;
  display: inline-block;
}
.margin_bottom {
  margin-bottom: 2 * $baseline;
}
audio,
video {
  max-width: 100%;
  width: 100%;
}
// Lightbox 
#overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  display: none;
  pointer-events: none;
  img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: visible;
    cursor: pointer;
  }
}
//
//
//
//
// BACKEND SPECIFIC
//
//
//
//
form,
.list-group {
  margin-top: 2 * $baseline;
}
.form-group {
  margin-bottom: 2 * $baseline;
}
.editContainer {
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid $dark-gray;
  display: none;
  background: $light-gray;
}
.error {
  color: $alert;
}
#spinner {
  display: none;
  font-size: 50px;
  font-size: 5vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 10000;
}
.selected {
  background-color: $highlight;
}
.page {
  height: 800px;
  height: 100vh;
  width: 100%;
  position: relative;
}
.print-page {
  margin: 0;
  padding: 0;
  height: 210.058mm;
  width: 297.18mm;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 140mm;
    transform: translateY(-50%) translateX(-50%);
    margin-bottom: 5mm;
  }
  p {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    font-size: 9pt;
  }
}
.set-height {
  height: 140px;
  img {
    max-height: 80%;
    float: right;
    padding-bottom: $baseline;
  }
}
.update-publication-order,
.update-content-order {
  margin-top: $baseline;
}
.sortable-content {
  overflow: auto;
}
.sortable-publication {
  overflow: auto;
}
.upload-reveal {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  float: right;
}
.sound-upload {
  margin-bottom: 5em;
}
//
//
//
//
// MEDIA QUERIES
//
//
//
//
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
