@import 'compass/reset';
//Variables
$background: #fff;
$main-color: #000;
$highlight: #00f;
$baseline: 10px;
* {
  -webkit-touch-callout: none;
  user-select: none;
}

html {
  color: $main-color;
  font-size: $baseline;
  line-height: 2 * $baseline;
}

body {
  background: $background;
  font-family: helvetica, arial, sans-serif;
  overflow-x: hidden;
  letter-spacing: 1px;
}

.no-scroll {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $highlight;
  text-decoration: none;
}

article {
  cursor: inherit;
}

article:hover {
  text-decoration: none;
}

.space {
  line-height: 2 * $baseline;
  margin-bottom: $baseline;
  margin-top: $baseline;
}

form,
.list-group {
  margin-top: 2 * $baseline;
}

.form-group {
  margin-bottom: 2 * $baseline;
}

.container-fluid {
  padding: 0;
  margin-top: 2 * $baseline;
  margin-left: 2 * $baseline;
}

img {
  max-width: 100%;
}

//img:hover {
//  opacity: 0.6;
//  filter: grayscale(100%);
//  transition: opacity .5s ease;
//}

input[type='text'] {
  width: 100%;
}

label {
  display: block;
}

.margin_bottom {
  margin-bottom: 2 * $baseline;
}

.ping_container {
  max-width: 75%;
  transition: color 2s ease;
  transition: opacity 2s;
}

.ping_container:last-of-type {
  max-width: 75%;
  color: $highlight;
  transition: color 2s ease;
}

.thumb-container {
  display: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.thumbnail {
  height: 16 * $baseline;
  cursor: pointer;
}

// Lightbox 
#overlay {
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  display: none;
  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

// Extended columns
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
